
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    }
    h1{
        margin:0;
    }
    :root {
        --text-color: #667085;
        --main-button-color: #8E2424;
        --titletext-color: rgb(16, 24, 40);
    }
    body{
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    /* navigation section*/
    #name{
        color:#3A404E;
        font-size: 1.2rem;
    }
    #menu_items{
        color:var(--text-color) ; 
        }
    #logo, #open-menu{
        width: 27px;
    }
    #open-menu,#menu-mobile{
        display: none;
    }
    #button{
        background-color:var(--main-button-color);
        color: white;
        cursor: pointer;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        border: none;
    }
    #menuLogoHome{
        column-gap:5vw;
        display: flex;
        align-items: center;
    }
    .menu-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        padding: 8px;
        font-style: medium; 
        font-weight: 500;
        font-size: 1rem;
    }
    .menu_logo{
        display: flex;
        column-gap: 0.8vw;
        align-items:center;
      }
    .menu_home{
        display:flex;
        column-gap: 2.5vw;
    }
    .menu_buttons{
        display: flex;
        align-items: center;
        column-gap: 2.2vw;
    }
    /* header section */
    .header-container{
        padding:96px;
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5vw; 
    }
    .header-container h4{
        font-style:medium;
        color:var(--main-button-color);
        font-weight: 600;
        font-size:  1rem;
    }
    .header-container h1{
        font-style:medium;
        color:var(--titletext-color);
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
    }
    #first_section_of_text{
        font-style:normal;
        color:var(--text-color);
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
    }
    .metric-container{
        display: flex;
        margin: 0 auto;
        justify-content:space-between;
        width: 90%; 
       
    }
    .metric-container > #first-metric, #second-metric,#third-metric,#fourth-metric{
        row-gap:1.5vh;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .metric-container  h1{
        color: var(--main-button-color);
        font-style: normal;
        font-weight: 600;
        font-size: 3.7rem;
    }
    .metric-container h4{
        color:var(--titletext-color);
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .metric-container span{
        color:var(--text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
    }
    .metric-container #first-metric span , #second-metric span,#third-metric span,#fourth-metric span{
        line-height: 3vh;
    }
    .talent-section{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:6.25rem;
    }
    .talent-section h4{
        font-style: normal;
        font-weight: 500;
        font-size: 0.87rem;
        color: var(--main-button-color);
        background: rgba(142, 36, 36, 0.05);
        border-radius: 1rem;
        padding: 0.25rem 0.75rem;
        margin-bottom: 1rem;
    }
    .talent-section h2{
        font-style: normal;
        font-weight: 600;
        font-size: 2.25rem;
        color: var(--titletext-color);
        margin-bottom: 1rem;
        text-align: center;
    }
    .talent-section span{
        font-style: normal;
        font-weight: 400;
        font-size:1.25rem;
        text-align: center;
        color: var(--text-color);
        margin-bottom: 4rem;
    }
    .talent-section img{
        width: 90%;
        margin: 0 auto;
       
    }
    .vacancy-container{
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vacancy-container .segond-vacancy-container{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 60%;
    }
     .first-vacancy , .second-vacancy{
         width: 100%;
     }
    .vacancy-container #title-vacancy{
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        color: var(--titletext-color);
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .vacancy-container .information{
        width: 95%;
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        color: var(--text-color);
        margin-left: 1.5rem;
        border: 1px solid #EAECF0;
        border-radius: 1rem;
        padding: 1.5rem 1.5rem 1.7rem;
    }
    .vacancy-container #title-information{
        margin-bottom: 2rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--titletext-color);
    }
    .first-vacancy .first-information , .second-vacancy .first-information,.second-vacancy .second-information {
        margin-bottom: 1.5rem;
    } 
    .testimonials-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
        margin: 0 auto;
        background:rgba(196, 25, 25, 0.03);
        border-radius: 1rem;
        margin-top: 6rem;
        padding: 4rem;
    }
    .testimonials-container h4{
        color: var(--main-button-color);
        font-style: normal;
        font-weight: 600;
        font-size: 0.87rem;
        text-align: center;
        margin-bottom: 1rem;
        
    }
    .testimonials-container h1{
        color: var(--titletext-color);
        font-style: normal;
        font-weight: 500;
        font-size: 2.25rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .testimonials-container img{
        width: 3.5rem;
        height: 3.5rem;
        margin-bottom: 1rem;
    }
    .testimonials-container #name{
        color: var(--titletext-color);
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.25rem;
    } 
    .testimonials-container #profession{
        color: var(--text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 0.87rem;
    }
    footer{
        background-color:#F9FAFB;
        display: flex;
        flex-direction: column;
        align-items:center; 
        padding:4rem 0.5rem;
    }
    footer h1{
        color: var(--titletext-color);
        font-style: normal;
        font-weight: 600;
        font-size: 2.25rem;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    footer #text {
        color:var(--text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    footer fieldset{
        border:none;
    }
    #email::placeholder{
        color: var(--text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }
    label{
        visibility: hidden;
    }
    footer #email{
        background-color: #FFFFFF;
        border: 1px solid #D0D5DD;
        margin-right: 1rem;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 0.5rem;
        padding: 0.75rem 0.87rem 0.75rem 1rem;
        width: 360px;
        height: 48px;
    }
    footer button{
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;

    }
    footer button{
        background: #8E2424;
        border: 1px solid #8E2424;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 0.25rem;
        padding: 0.75rem 1.25rem;
    }
    footer #text-footer{
        margin-top: 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: #98A2B3;
        text-align: center;
    }

 
   