
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    }
    :root {
        --text-color: #667085;
        --main-button-color: #8E2424;
        --titletext-color: #101828;
    }
    body{
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    /* navigation section*/
    #name{
        color:#3A404E;
        font-size: 1.5vw;
    }
    #menu_items{
        color:var(--text-color) ; 
        }
    #logo{
        width: 27px;
    }
    #button{
        background-color:var(--main-button-color);
        color: white;
        cursor: pointer;
        padding: 0.8vw 1.2vw;
        border-radius: 8px;
        border: none;
    }
    #menuLogoHome{
        column-gap:5vw;
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        padding: 8px;
        font-style: medium; 
        font-weight: 500;
        font-size: 1.5vw;
        line-height: 24px;
    }
    .menu_logo{
        display: flex;
        column-gap: 0.8vw;
        align-items:center;
      }
    .menu_home{
        display:flex;
        column-gap: 2.5vw;
    }
    .menu_buttons{
        display: flex;
        align-items: center;
        column-gap: 2.2vw;
        background-color:white ;
    }
    /* header section */
    .section_header{
        padding:96px;
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5vw; 
    }
 .section_header h4{
        font-style:medium;
        color:var(--main-button-color);
        font-weight: 600;
        font-size:  1rem;
    }
    .section_header h1{
        font-style:medium;
        color:var(--titletext-color);
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
    }
    #first_section_of_text{
        font-style:normal;
        color:var(--text-color);
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
    }
    .section-container{
        display: flex;
        margin: 0 auto;
        justify-content:space-between;
        width: 90%; 
       
    }
    .section-container > #first-metric, #second-metric,#third-metric,#fourth-metric{
        row-gap:1.5vh;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .section-container  h1{
        color: var(--main-button-color);
        font-style: normal;
        font-weight: 600;
        font-size: 3.7rem;
    }
    .section-container h4{
        color:var(--titletext-color);
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .section-container span{
        color:var(--text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
    }
    .section-container #first-metric span , #second-metric span,#third-metric span,#fourth-metric span{
        line-height: 3vh;
    }
    